@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css);


*{
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(310deg, rgb(0, 3, 38), rgba(5, 2, 173, 0.829), #1a4b4f, rgb(61, 61, 61), rgb(38, 37, 37));
    background-size: 300% 300%;
    animation: color 22s ease-in infinite;
}
@keyframes color{
    0%{
        background-position: 0 25%;
    }
    25%{
        background-position: 25% 50%;
    }
    50%{
        background-position: 50% 0%;
    }
    75%{
        background-position: 50% 25%;
    }
    100%{
        background-position: 25% 0;
    }
}
.cam {
    width: 30%;
    height: 3vh;
    z-index: 9;
    background-color: #0f0f0f;
    position: relative;
    left: 35%;
    top: 1%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.bat {
    background-color: whitesmoke;
    width: 8%;
    height: 1.5%;
    position: relative;
    left: 80%;
    top: -1%;
    z-index: 9;
    border-radius: 5px;
}
.search {
    width: 20.5%;
    background-color: rgb(110 113 116);
    /* background-color: white; */
    height: 4vh;
    left: 36.5%;
    top: 16%;
    position: relative;
    border-radius: 8px;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}
.search input {
    border: none;
    border-radius: 8px;
    outline: none;
    width: 65%;
    position: relative;
    left: 2%;
    font-size: 25px;
    padding: 6px;
    height: 4vh;
    background-color: rgb(110 113 116);
    color: white;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  button {
    background-color: rgb(110 113 116);
    width: 35%;
    font-size: 22px;
    color: white;
    position: relative;
    /* left: 15%; */
    border: none;
    height: 4vh;
    border-radius: 10px;
    outline: none;
    margin: 0;
    text-align: center;
}
button:hover{
    color:#2d2d2d;
    background-color: rgb(225, 255, 255);
}

.box {
    width: 22%;
    box-shadow: 0px 0px 10px gray;
    height: 86vh;
    position: relative;
    left: 35%;
    top: 0%;
    background: linear-gradient(45deg, #363535, #1f3853 , #0cbce7);
    border-radius: 65px;
    border: 12px solid black;
    border-width: 11px 11px 25px 11px;
}
.icon {
    width: 93%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 60px;
    align-content: center;
    color: white;
    background: linear-gradient(245deg, #0f0f0f, #464343);
    border-radius: 10px ;
    position: relative;
    top: 12%;
    margin: 10px 12px;
}

.weatherInfo {
    position: relative;
    width: 68%;
    height: 75%;
    display: flex;
    flex-flow: column;
}
.temperature {
    width: 90%;
    padding: 8px 5px;
}
span {
    color: rgb(5, 246, 246);
    font-size: 56px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 18%;
}
.description{
    width:90%;
    padding:10px;
}
.weatherCondition {
    font-size: 50px;
    color: white;
    position: relative;
    top: 9%;
    display: flex;
    
}
.place {
    font-size: 20px;
    position: relative;
    color: white;
    top: 10%;
    display: flex;
    
}
.date {
    color: white;
    font-size: 15px;
    padding: 0;
    padding-top: 5px;
    width: 90%;
    display: flex;
    position: relative;
    /* justify-content: center; */
    margin: 10px;
}
.extra-temp {
    width: 93%;
    height: 25vh;
    background: linear-gradient(245deg, #0f0f0f, #464343);
    position: relative;
    top: 12%;
    margin: 10px 12px;
    border-radius: 10px;
    /* flex-direction: column; */
    display: flex;
}
.temp-info-minmax {
    font-size: 25px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px;
}
.another-extra-info {
    display: flex;
    font-size: 25px;
    width: 50%;
    height: 20vh;
    flex-direction: column;
    margin: 5px;
}

.two-sided {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 85px;
    color: white;
    margin: 0px;
}
p{
    font-size: 30px;
    width:50px;
}
.extra-leftside-info {
    display: flex;
    justify-content: space-around;
    right: 0;
    width: 90px;
    font-size: 16.5px;
}
.icon i {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 120px;
    position: relative;
    top: 26%;
    margin: 5px;
}
